<!doctype html>
<html lang="en">
  <head>
    <title>Login</title>
		<link rel="stylesheet" href="/style.css">
  </head>

  <body>
		<div class="min-h-screen bg-neutral-700 flex justify-center text-sky-300">
				<form method="post" class="grid grid-cols-1 grid-rows-3 h-64 gap-12 bg-neutral-800 p-12 translate-y-1/3">
						<legend class="flex justify-center">Projekttagebuch</legend>
						<div class="flex flex-col">
							<label for="username" class="flex justify-center">Nutzername</label>
							<input class="text-neutral-800 font-mono" name="username" id="username" value="" />
						</div>
						<div class="flex flex-col">
							<label for="password" class="flex justify-center">Passwort</label>
							<input
								class="text-neutral-800 font-mono"
								name="password"
								id="password"
								type="password"
								value=""
							/>
						</div>

						<button class="bg-sky-900 mt-3 rounded-l hover:rounded-full hover:bg-sky-700 focus:bg-sky-700 focus:rounded-full" type="submit" value="login">Login</button>
				</form>
		</div>
  </body>
</html>

