<!doctype html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta charset="UTF-8" />
	<title>Projekttagebuch</title>
	<script src="/scripts/htmx@2.0.2.js"></script>
	<script src="/scripts/htmx@2.0.2_response_targets.js"></script>
	<link rel="stylesheet" href="/style.css">
	<script src="/scripts/hyperscript.org@0.9.12.js"></script>
</head>

<body hx-ext="response-targets" class="min-h-screen bg-white dark:bg-gray-900 text-black dark:text-gray-400">
  <header class="sticky top-0 z-40 flex w-full justify-center border-b-4 border-zinc-400 bg-gray-300 font-mono text-black shadow-md backdrop-blur dark:border-zinc-600 dark:bg-gray-900 dark:text-gray-400">
    <div class="flex w-4/5 justify-between">
      <div class="text-xl">$whoami &rarr; <b class="font-mono font-semibold dark:text-white">{{ user.name }}</b></div>
      <a class="h-8 w-12 text-xl text-indigo-600 hover:text-indigo-400 dark:text-indigo-400 dark:hover:text-indigo-300 hover:rounded-md hover:bg-gray-600 dark:bg-gray-900 dark:hover:bg-neutral-700 " href="/logout">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-8 w-8 translate-x-2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0 0 13.5 3h-6a2.25 2.25 0 0 0-2.25 2.25v13.5A2.25 2.25 0 0 0 7.5 21h6a2.25 2.25 0 0 0 2.25-2.25V15m3 0 3-3m0 0-3-3m3 3H9" />
        </svg>
      </a>
    </div>
  </header>

  <main class="border-gray-400 dark:border-gray-600 bg-white pt-4 text-black dark:bg-gray-900 dark:text-gray-300">
    <div class="relative flex justify-center">
      <div class="text-xl text-red-500" id="error_display" _="on htmx:beforeSend from elsewhere set my innerHTML to ''"></div>
    </div>

    <div class="m-6 flex justify-center">
      <button
      	class="h-16 w-14 rounded-lg text-lime-600 hover:text-lime-400 dark:text-green-500 dark:hover:text-green-300 hover:rounded-md hover:bg-gray-400 dark:bg-gray-900 dark:hover:bg-neutral-700"
	hx-get="/web/project/new"
	hx-target="#phantom-new-project"
	hx-swap="innerHTML"
	hx-target-error="#error_display">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-14 w-14">
          <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
        </svg>
      </button>
    </div>

    <div id="phantom-new-project" class="flex justify-evenly">
    </div>

    <div id="project-list" class="items-start grid w-screen grid-cols-1 place-items-center md:grid-cols-2 xl:grid-cols-3 mb-12">
      {% for project in projects %}
      {{ project.display_header_only(user, element_server.to_owned()) }}
      {% endfor %}
    </div>
  </main>
</body>
</html>
