  <div class="user-{{person.person_id()}} flex justify-end border-1 border-t-0 border-r-0 border-l-0 pt-1 pr-1 pb-1 border-gray-400 dark:border-gray-600">
    <div class="flex w-full translate-y-2 justify-start">
      <div class="w-6"></div>
      <div>{{ person.name }}</div>
    </div>
    <div class="flex justify-end">
      <div class="w-18 translate-y-1">
	{% if perm == UserPermission::Admin %}
								<div class="flex justify-end">
<div>Admin</div>
<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="border-gray-400 dark:border-gray-600 text-indigo-600 hover:text-indigo-400 dark:text-indigo-400 dark:hover:text-indigo-300 hover:rounded-md hover:bg-neutral-500 dark:hover:bg-neutral-700 w-6 h-6">
<path stroke-linecap="round" stroke-linejoin="round" d="m4.5 5.25 7.5 7.5 7.5-7.5m-15 6 7.5 7.5 7.5-7.5" />
</svg>
</div>
	{% else %}
	<div class="flex justify-end">
<div></div>
<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="border-gray-400 dark:border-gray-600 text-indigo-600 hover:text-indigo-400 dark:text-indigo-400 dark:hover:text-indigo-300 hover:rounded-md hover:bg-neutral-500 dark:hover:bg-neutral-700 w-6 h-6">
<path stroke-linecap="round" stroke-linejoin="round" d="m4.5 18.75 7.5-7.5 7.5 7.5" />
<path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 7.5-7.5 7.5 7.5" />
</svg>

</div>
	{% endif %}
						</div>
      <button class="h-10 w-10 rounded-lg text-rose-600 hover:text-rose-400 dark:text-rose-400 dark:hover:text-rose-300 hover:rounded-md hover:bg-neutral-500 dark:bg-gray-900 dark:hover:bg-neutral-700">
	<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-6 w-6 translate-x-2">
	  <path stroke-linecap="round" stroke-linejoin="round" d="M22 10.5h-6m-2.25-4.125a3.375 3.375 0 1 1-6.75 0 3.375 3.375 0 0 1 6.75 0ZM4 19.235v-.11a6.375 6.375 0 0 1 12.75 0v.109A12.318 12.318 0 0 1 10.374 21c-2.331 0-4.512-.645-6.374-1.766Z" />
	</svg>
      </button>
    </div>
  </div>

